.wrap-radar-component {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-menu-radar {
  height: 100%;
  width: 55px;
  background: rgba(255, 255, 255, 0.792);
}

.wrap-leaflet-part {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .current-radar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(255, 255, 255, 0.2117647059);
    width: 380px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  .wrap-leaflet-part {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
