.wrap-main-current-weather {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrap-common-long-daily {
  display: flex;
  gap: 20px;
  height: 45%;
}

.wrap-short-forecast-radar {
  display: flex;
  gap: 20px;
  height: 45%;
}

.current-common-wrap,
.long-daily-forecast,
.current-short-hourly,
.current-radar {
  flex: 1;
  position: relative;
}

.long-daily-forecast,
.current-short-hourly,
.current-radar {
  background: #ffffff3f;
  border-radius: 3px;
}
