.wrap-change-track.history {
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  gap: 35px;
  background: #ffffff30;
  -webkit-box-shadow: 4px 5px 10px 0px #0000004c;
  box-shadow: 4px 5px 10px 0px #0000003b;

  .title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .wrap-toggle {
    display: flex;
    gap: 20px;
  }

  .save-history {
    border-radius: 3px;
    height: 35px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.42);
  }
}

.chart-wrap-all {
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-all-charts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button.reset {
      height: 35px;
      background: rgba(255, 255, 255, 0.622);
      border-radius: 3px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 767px) {
  .wrap-change-track.history {
    margin-left: 10px;
    height: 60%;
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .chart-wrap-all {
    .title-all-charts {
      flex-direction: column;
      align-items: flex-start;

      h3 {
        text-align: unset;
      }

      button.reset {
        align-self: flex-end;
      }
    }
  }
}

.wrap-loader-history {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
