.main-chart-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  width: 490px;
  height: 390px;

  .wrap-left-btn {
    padding-left: 5px;
    &.hidden {
      visibility: hidden;
    }
  }
  .wrap-right-btn {
    padding-right: 5px;
    &.hidden {
      visibility: hidden;
    }
  }
  svg {
    font-size: 30px;
    cursor: pointer;
  }
}

.chart-container {
  flex: 1;
  // height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 5px;
}

@media screen and (max-width: 767px) {
  .main-chart-container {
    width: auto;
    position: relative;
    .wrap-left-btn {
      position: absolute;
      left: 0;
      bottom: 10px;
    }

    .wrap-right-btn {
      position: absolute;
      right: 0;
      bottom: 10px;
    }

    .chart-container {
      width: 100%;
      canvas {
        height: 190px;
        width: 360px;
      }
    }
  }
}
