.wrap-user-admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  .description-user,
  .mail-part {
    font-size: 14px;
    width: 30%;
  }
  .mail-part {
    display: flex;
  }
  .content {
    font-weight: bold;
    font-size: 16px;
    &.transform {
      text-transform: capitalize;
    }
  }
  .bage {
    // background: rgba(0, 128, 0, 0.505);
    padding: 10px;
    // border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    .active {
      color: greenyellow;
    }
  }
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: initial;
  gap: 20px;
  width: 100%;
}
.wrap-item-user-info {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.wrap-bookmark {
  display: flex;
  gap: 15px;
  .history-mark {
    color: greenyellow;
    margin-left: 10px;
  }
}

.btn-wrap-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border-radius: 3px;
    height: 35px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    &.modify,
    &.disconnect,
    &.blackList {
      background: rgb(255 255 255 / 42%);
    }
    &.delete {
      background: rgba(247, 70, 70, 0.622);
    }
  }
}
