header.header-screen {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-icons-screen-header {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.icons-menu {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: white;
}
