section.forgot-container {
  .hidden {
    display: none;
  }

  .wrap-form-auth {
    height: 40vh;
    max-height: 650px;
    width: 80vw;
    max-width: 300px;
    background: rgb(0 0 0 / 25%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
    color: white;
  }
  .login-link {
    text-decoration: underline;
  }
  .wrap-form-auth {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;

      label {
        text-transform: capitalize;
      }
      .wrapInput {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
      }
      input {
        border-radius: 3px;
        background: white !important;
        height: 35px;
      }
    }
    .btn-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 15px;

      button[type="submit"] {
        width: 85%;
        border-radius: 3px;
        background: white;
        height: 35px;
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
