.leaflet-container {
  height: 250px;
  width: 350px;
  border-radius: 3px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .leaflet-container {
    height: 390px;
    width: 490px;
    border-radius: 3px;
  }
}
