.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  color: white;

  section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 300px;

    .container-search-block {
      display: flex;
      justify-content: space-between;
    }

    .search-city-block {
      margin: 0 10px;
    }

    .wrap-toggle {
      display: flex;
      justify-content: space-between;
    }
    ul {
      padding: 0;
      margin: 0;
      width: 164px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    li.options {
      list-style-type: none;
    }

    li button {
      background: none;
      border: none;
      cursor: pointer;
      width: 100%;
      text-align: left;
      color: white;
      &:hover,
      &:focus {
        background: black;
        color: white;
      }
    }
  }
  .wrap-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 150px;
  }

  input {
    border-radius: 3px;
    background: #b9b7b7da;
    height: 35px;
    color: white;
    &:focus-visible {
      border: 1px solid white !important;
    }
  }

  .search-cities-btn {
    background: #b9b7b7da;
    border-radius: 3px;
    color: white;
    width: 50px;
  }

  .wrap-followed-city {
    display: flex;

    max-width: 300px;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;

    .close-icon {
      color: rgb(247, 70, 70);
      font-weight: bold;
      font-size: 25px;
    }
  }

  .followed-city {
    flex: 1;
    width: 100%;
    height: 35px;
    background: rgb(255 255 255 / 42%);
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

    &.active {
      background: rgba(255, 255, 255, 0.827);
      color: black;
      font-weight: bold;
      border: 3px solid white;
    }
    &.active .history-mark {
      color: rgb(76, 111, 24);
    }
  }

  .history-mark {
    color: greenyellow;
    margin-left: 10px;
  }
}
