.main-hisotry-charts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .main-hisotry-charts {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: unset;
  }
}
