.wrap-side-menu {
  background-color: #00000099;
}

.side-menu-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.side-menu-enter-active {
  width: 250px;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms ease-in-out;
}

.side-menu-exit {
  opacity: 1;
  transform: translateX(0);
}

.side-menu-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms ease-in-out;
}

ul.side-bar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}
