
@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito/Nunito-Regular.ttf') format('truetype'); 
  font-weight: 400; 
}
@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito/Nunito-Bold.ttf') format('truetype'); 
  font-weight: 700; 
}
@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype'); 
  font-weight: 900; 
}


* {
  font-family: "Nunito", sans-serif;
  outline: none !important;
}

html, body, #root {
  height: 100%;
} 


body {

  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(188, 200, 214, 1) 18%, rgba(17, 49, 92, 1) 56%);
  background-attachment: fixed;
}

#root {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  border-color: unset;
  padding: 0;
  border-width: unset;
  border-style: unset;
}
input:internal-autofill-selected{
  background-color: unset;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* *:focus:{
  border: 1px;

} */

a:focus, button:focus, section:focus, *[tabIndex]:focus{
  border: 1px solid rgba(255, 255, 255, 0.451);
  border-radius: 3px;
}